@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Climate+Crisis&family=DynaPuff:wght@400..700&family=Honk&family=Oswald:wght@200..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* Font List
Open Sans
Outfit
Lexend Deca
Inter
Doto
B612 
DotGothic16
VT323
Handjet
Gemunu Libre
Pixelify Sans

TitleFonts:
- DynaPuff
- Honk
- Climate Crisis
- Shantell Sans
- Advent Pro
- Oswald
- Caveat 
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    /* cursor: url("./img/cursorPS.png"); */
    cursor: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Lato, ui-sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;  
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: auto;
}

#custom-cursor, #custom-cursor-earth {
    position: fixed;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 99999;
}

#custom-cursor {
    background-image: url("./img/circlecursorOutlineUpdated.png");
    transform-origin: 16.3px 17px;
}

#custom-cursor-earth {
    background-image: url("./img/earth32.png");
}

.link-hover {
    background-image: url("./img/circlecursor.png");
    transition: background-image 0.2s ease-in-out;
}

.rotating-image {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    height: 90%;
    margin-left: 25px;
    margin-top:7px;
}

.translate-text {
    color: rgb(95, 99, 104);
    font-size: 21px;
    margin-left: 10px;
    margin-right: 0px;
    margin-left: 7px;
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
    margin-right: 10px;
}

.translate-menu {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    font-family: "Outfit", Arial, sans-serif;
}

.translate-menu button {
    height: 100%;
    padding: 18px;
    border: none;
    background: none;
    font-family: "Outfit", Arial, sans-serif;
}

/* .translate-menu button:hover {
    background: rgba(200, 200, 200, 0.15);
} */

.translate-arrow-right {
    background-image: url("./img/right-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    opacity: 0.4;
    margin: 3px;
}

.language {
    font-weight: 400;
    font-size: 14px;
}

#original-language {
    color: rgb(120, 120, 120);
}

header {
    position: absolute;
    width: 100%;
    background-color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    color: rgb(0, 119, 255);
}

.dropdown-content a {
    color: rgb(50, 50, 50);
    /* background-color: white; */
}

.translate-arrow-down {
    background-image: url("./img/downArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    align-items: center;
    margin-left: 4px;
    top: 2px;
    filter: invert(37%) sepia(85%) saturate(4834%) hue-rotate(202deg) brightness(103%) contrast(106%);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 9999;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3),
      -5px 4px 5px rgba(0, 0, 0, 0.2), 5px 4px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.dropdown-content a:hover, #original-language-container:hover {
    background-color: #eee;
}

#translated-language-container:hover {
    background-color: rgba(0, 106, 255, 0.08);
}

.dropbutton {
    display: flex;
    align-items: center;
}


.show {
    display:block;
}

.home-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page #content {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding-left: 100px;
    flex-direction: row;
}

.homepage-title {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 1;
    text-shadow: 1px 1px 40px black;
    height: 4em;
    width: 8em;
    margin-top: -70px;
    /* position:absolute; */
    /* top: 50%; */
    /* left: 30%; */
    /* transform: translate(-50%, -50%); */
}
.homepage-title h1 {
    margin: 0px;
    padding: 0px;
    font-family: "B612", Arial, sans-serif;
}

.typewriter {
    padding-right: 10vw;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.typewriter h2 {
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    display: inline-block;
    padding-right: .1em;
    font-size: 20px;
}

.typewriter-cadet {
    display: inline-block;
    height: 25px;
    width: 3px;
    /* background-color: orange; */

    animation:
        blink-caret 1s step-end infinite;
        /* blink-caret 1.5s steps(2) infinite; */
}

/* Typing effect */
/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */

/* Cursor blinking */
@keyframes blink-caret {
    from, to {
        background-color: invisible;
    }
    50% {
        background-color: orange;
    }
}

/* Default main style */
main {
    /* height: calc(100vh); */
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 45, 57);
    color: white;
    flex: 1;
    background-position: center;
}

.home-page main {
    justify-content: center;
}

.yellow-bg {
    background-color: rgb(255, 204, 1);
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-right: 20px;
    padding-left: 30px;
}

#departures {
    font-size: 45px;
    flex: 1;
}

.airport-font {
    font-family: "B612", Arial, Helvetica, sans-serif;
}

#departure-icon {
    height: 70%;
}

main div img {
    /* transform: scale(1.7); */
    background-position: contain;
    opacity: 0.3;
}

.departures-table {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* position: absolute; */
    /* top: 160px; */
    align-items: center;
    margin-top: calc(56px + 80px + 10px);
    gap: 8px;
}

.departures-row {
    display: flex;
    width: 75%;
    height: 5vh;
    background-color: rgb(20, 23, 30);
    border-radius: 5px;
    padding: 5px;
    padding-left: 17px;
    padding-top: 7px;
    justify-content: space-between;
    align-items: center;
}

.departures-item {
    flex: 1;
    font-size: 17px;
}

.time {
    color: rgba(255, 255, 0, 0.94);
}

#departures-table-label, #departures-table-label * {
    background-color: unset;
    color: lightgray;
}

.ontime {
    color: rgb(47, 204, 47);
}

.delayed {
    color: orange;
}

.cancelled {
    color: rgb(212, 0, 0);
}

#icons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 50px;
    gap: 30px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    aspect-ratio: 1 / 1;
    padding: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4),
        0px 2px 5px rgba(0, 0, 0, 0.3);
    outline: 1px solid transparent;
    border-radius: 4px;
}

.icon-container.active {
    outline: 1px dotted white;
}

.icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
    filter: brightness(150%);
    /* text-shadow: unset; */
}

.icon {
    height: 40px;
    width: 40px;
}

.icon-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    text-align: center;
}

.window {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 3;
    /* border: 2px solid blue; */
    box-shadow: 1px 1px 2px darkblue,
        -1px 1px 2px darkblue;
    /* DEBUG */
    /* display: flex;  */
    display: none;
    flex-direction: column;
    min-width: 300px;
    min-height: 200px;
    height: auto;
    border-radius: 5px 5px 7px 7px;
    color: black;
    font-family: "Gemunu Libre", 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    overflow: hidden;
    resize: both;
    user-select: none;
    /* border-top-left-radius: 4px; */
    /* border-top-right-radius: 4px; */
}

.window-header {
    padding: 3px;
    padding-left: 5px;
    height: 18px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* z-index: auto; */
    background-color: rgba(0, 0, 255, 0.5);
    /* box-shadow: -1px -1px 1px gray inset; */
    color: white;
    /* backdrop-filter: blur(5px); */
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-shadow: 1px 1px 1px black;
}

.window-content {
    background-color: rgb(200, 200, 200);
    flex: 1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    font-size: 0;
}

#music-window {
    top: 20%;
    left: 20%;
    width: 30vw;
}

#game-window {
    top: 30%;
    left: 30%;
}

#baseball-window {
    top: 40%;
    left: 40%;
}

#manga-window {
    top: 50%;
    left: 50%;
}

.close-button {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    /* box-shadow: 0px 0px 1px white; */
    /* box-shadow: 1px 1px 1px rgb(190, 0, 0); */
    margin-right: 1px;
    align-self: center;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px rgb(50, 50, 50),
        1px 1px 3px rgba(255, 255, 255, 0.6) inset;
    /* background-image: url("./img/cross.svg"); */
    /* background-size: 24px; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.close-button:active {
    box-shadow: 1px 1px 2px rgb(50, 50, 50) inset;
}

.close-button-image {
    width: 17px;
    height: 17px;
    position: absolute;
    background-image: url("./img/cross.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.invert-colour {
    filter: invert(70%);
}

.content-container {
    margin: 5px;
    margin-bottom: 5px;
    display: flex;
    flex: 1;
}

.youtube-embed {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 5px;
    flex: 1;
}

.hidden {
    display: none;
}

video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    flex: 1;
}

#manga-image {
    opacity: 0.8;
}

#interests-header {
    width: 100%;
    height: 20px;
    background-color: rgba(0, 100, 200, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-items:  */
    font-family: "Gemunu Libre";
    gap: 30px;
}

.interests-header-element {
    border: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 6px;
    box-shadow: unset;
    font-weight: 700;
    height: 100%;
}

#fullscreen {
    /* flex: 1; */
    background-color: unset;
}

#fullscreen:active {
    box-shadow: 1px 1px 2px black inset;
}

#time-container {
    padding: 0px 20px;
    letter-spacing: 1px;
}

#time {
    margin-left: 7px;
    letter-spacing: 4px;
}

.faint-text {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    position: fixed;
}

.credit {
    top: calc(100% - 2em);
    left: calc(100% - 12em);
    text-align: right;
}

.information {
    top: calc(100% - 2em);
    left: 20px;
}

/* Temporary Clock */
#clock-container {
    position: absolute;
    top: 120px;
    left: calc(100% - 30px - 150px);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* transform: translate(-50%, -50%); */
}

#clock-background #circle {
    position:absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border: 4px solid black;
}

#clock-background #incircle {
    position:absolute;
    height: 9px;
    width: 9px;
    background-color: black;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}

#hour-hand {
    /* height: 30px; */
    width: 3px;
    background-color: black;
    position: absolute;
    /* margin-left: 50px; */
    /* margin-top: 22px; */
    transform-origin: 2px 100%;
    top: calc(50px - 15px + 5px);
    left: 55px;
    transform: translate(-50%, -50%);
}

#minute-hand {
    height: 50px;
    width: 3px;
    background-color: black;
    position: absolute;
    left: 53px;
    top: calc(50px - 25px + 5px);
    transform-origin: 2px 100%;
    transform: translate(-50%, -50%);
}

#second-hand {
    /* height: 50px; */
    width: 1px;
    background-color: red;
    position: absolute;
    margin-top: 2px;
    margin-left: 52px;
    transform-origin: 1px 100%; 
}