@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Climate+Crisis&family=DynaPuff:wght@400..700&family=Honk&family=Oswald:wght@200..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Font List
Open Sans
Outfit
Lexend Deca
Inter
Doto
B612 

TitleFonts:
- DynaPuff
- Honk
- Climate Crisis
- Shantell Sans
- Advent Pro
- Oswald
- Caveat 
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    /* cursor: url("./img/cursorPS.png"); */
    cursor: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Lato, ui-sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;  
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: auto;
}

.custom-cursor, .custom-cursor-earth {
    position: fixed;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10;
}

.custom-cursor {
    background-image: url("./img/circlecursorOutlineUpdated.png");
}

.custom-cursor-earth {
    background-image: url("./img/earth32.png");
}

.link-hover {
    background-image: url("./img/circlecursor.png");
    transition: background-image 0.2s ease-in-out;
}

.rotating-image {
    animation: rotate 5s linear infinite;
}

.custom-cursor {
    transform-origin: 16.3px 17px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    height: 90%;
    margin-left: 25px;
    margin-top:7px;
}

.translate-text {
    color: rgb(95, 99, 104);
    font-size: 21px;
    margin-left: 10px;
    margin-right: 0px;
    margin-left: 7px;
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
    margin-right: 10px;
}

.translate-menu {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    font-family: "Outfit", Arial, sans-serif;
}

.translate-menu button {
    height: 100%;
    padding: 18px;
    border: none;
    background: none;
    font-family: "Outfit", Arial, sans-serif;
}

/* .translate-menu button:hover {
    background: rgba(200, 200, 200, 0.15);
} */

.translate-arrow-right {
    background-image: url("./img/right-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    opacity: 0.4;
    margin: 3px;
}

.language {
    font-weight: 400;
    font-size: 14px;
}

#original-language {
    color: rgb(120, 120, 120);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    color: rgb(0, 119, 255);
}

.dropdown-content a {
    color: rgb(50, 50, 50);
    /* background-color: white; */
}

.translate-arrow-down {
    background-image: url("./img/downArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    align-items: center;
    margin-left: 4px;
    top: 2px;
    filter: invert(37%) sepia(85%) saturate(4834%) hue-rotate(202deg) brightness(103%) contrast(106%);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3),
      -5px 4px 5px rgba(0, 0, 0, 0.2), 5px 4px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    z-index: 1;
}

.dropdown-content a:hover, #original-language-container:hover {
    background-color: #eee;
}

#translated-language-container:hover {
    background-color: rgba(0, 106, 255, 0.08);
}

.dropbutton {
    display: flex;
    align-items: center;
}


.show {
    display:block;
}

.home-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page #content {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding-left: 100px;
    flex-direction: row;
}

.homepage-title {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 1;
    text-shadow: 1px 1px 40px black;
    height: 4em;
    width: 8em;
    margin-top: -70px;
    /* position:absolute; */
    /* top: 50%; */
    /* left: 30%; */
    /* transform: translate(-50%, -50%); */
}
.homepage-title h1 {
    margin: 0px;
    padding: 0px;
    font-family: "B612", Arial, sans-serif;
}

.typewriter {
    padding-right: 10vw;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.typewriter h2 {
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    display: inline-block;
    padding-right: .1em;
    font-size: 20px;
}

.typewriter-cadet {
    display: inline-block;
    height: 25px;
    width: 3px;
    /* background-color: orange; */

    animation:
        blink-caret 1s step-end infinite;
        /* blink-caret 1.5s steps(2) infinite; */
}

/* Typing effect */
/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */

/* Cursor blinking */
@keyframes blink-caret {
    from, to {
        background-color: invisible;
    }
    50% {
        background-color: orange;
    }
}

/* Default main style */
main {
    /* height: calc(100vh); */
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 45, 57);
    color: white;
    flex: 1;
    background-position: center;
}

.home-page main {
    justify-content: center;
}

.yellow-bg {
    background-color: rgb(255, 204, 1);
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-right: 20px;
    padding-left: 30px;
}

#departures {
    font-size: 45px;
    flex: 1;
}

.airport-font {
    font-family: "B612", Arial, Helvetica, sans-serif;
}

#departure-icon {
    height: 70%;
}

main div img {
    /* transform: scale(1.7); */
    background-position: contain;
    opacity: 0.3;
}

.departures-table {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* position: absolute; */
    /* top: 160px; */
    align-items: center;
    margin-top: 40px;
    gap: 8px;
}

.departures-row {
    display: flex;
    width: 75%;
    height: 5vh;
    background-color: rgb(20, 23, 30);
    border-radius: 5px;
    padding: 5px;
    padding-left: 17px;
    padding-top: 7px;
    justify-content: space-between;
    align-items: center;
}

.departures-item {
    flex: 1;
    font-size: 17px;
}

.time {
    color: rgba(255, 255, 0, 0.94);
}

#departures-table-label, #departures-table-label * {
    background-color: unset;
    color: lightgray;
}

.ontime {
    color: rgb(47, 204, 47);
}

.delayed {
    color: orange;
}

.cancelled {
    color: rgb(212, 0, 0);
}

.draggable {
    position: absolute;
    z-index: 2;
}

#icons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 50px;
    gap: 30px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    aspect-ratio: 1 / 1;
    padding: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4),
        0px 2px 5px rgba(0, 0, 0, 0.3);
    outline: 1px solid transparent;
    border-radius: 4px;
}

.icon-container.active {
    outline: 1px dotted white;
}

.icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
    filter: brightness(150%);
    /* text-shadow: unset; */
}

.icon {
    height: 40px;
    width: 40px;
}

.icon-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    text-align: center;
}

.window {
    position: absolute;
    z-index: 3;
    background-color: black;
    border: 1px solid black;
    display: none;
}

.window-header {
    padding: 10px;
    cursor: move;
    z-index: 4;
    background-color: blue;
    color: red;
}